.video-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  opacity: 0.85;
  background: #f49230;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f49230 1%, #84b4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f49230 1%, #84b4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f49230 1%, #84b4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f49230", endColorstr="#84b4f4",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.form {
  z-index: 2;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: cover;
}
.form__logo {
  background-image: url("./assets/bitsnbots.png");
  display: block;
  width: 200px;
  height: 140px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.form__logo--wrapper {
  padding-top: 30px;
}
.form__input {
  width: 50%;
  padding: 5px;
  margin: 5px;
  border: 3px solid white;
  border-radius: 4px;
}
.form__input--wrapper {
  padding-top: 50px;
}
.form__button {
  width: 40%;
  height: 50px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border: 3px solid white;
  border-radius: 4px;
}
.form__button--wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.register {
  display: none;
}

.signIn {
  display: block;
}

.landingpage {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.navigation {
  display: flex;
  background: #f49230;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f49230 1%, #84b4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f49230 1%, #84b4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f49230 1%, #84b4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f49230", endColorstr="#84b4f4",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100px;
  color: #ad5050;
}

.link {
  width: 100%;
  text-align: right;
}
.link__title {
  padding: 10px;
  padding-right: 15px;
  margin-top: 25px;
  display: inline-block;
  background: 0.8705882353;
}
@media screen and (min-width: 500px) {
  .link__title {
    padding-right: 40px;
  }
}
.link__title--logout {
  background-color: orange;
}

.spinner {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.search {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.search:hover {
  opacity: 0.5;
  border: 2px solid black;
}

.storeWrapper {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 786px) {
  .storeWrapper {
    width: 100%;
  }
}

.accordion {
  width: 50%;
  display: inline-block;
  height: fit-content;
}
.accordion:hover {
  border: 2px solid rgba(245, 202, 59, 0.74);
}
@media screen and (max-width: 786px) {
  .accordion {
    width: 100%;
  }
}
.accordion__title {
  display: block;
  width: 30px;
  background: green;
  height: 300px;
}
.accordion__collapse {
  background-color: #c4c4c4;
}
.accordion__image {
  height: 100%;
  width: 100px;
  margin-right: 30px;
}
.accordion__dropinfo {
  display: inline-table;
  width: 50%;
}
.accordion__dropinfo p {
  font-size: 25px;
}
.accordion__button {
  text-align: right;
  margin: 20px;
}

.card-header {
  height: 100px;
  padding: 0px;
}

.checkout {
  display: block;
}
@media screen and (min-width: 786px) {
  .checkout {
    display: inline-flex;
  }
}
.checkout__title {
  text-align: center;
  margin: 50px;
}
.checkout__cart {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 786px) {
  .checkout__cart {
    width: 50%;
  }
}
.checkout .checkout__form {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 786px) {
  .checkout .checkout__form {
    width: 50%;
  }
}

.emptyCart {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.cartitem {
  display: inline-flex;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid lightgray;
  border-radius: 5px;
}
@media screen and (min-width: 1500px) {
  .cartitem {
    width: 50%;
  }
}
.cartitem__image {
  height: 100%;
  margin-left: 20px;
}
.cartitem__title {
  text-align: center;
  width: 100%;
  padding: 5px;
}
.cartitem__title--wraptitle {
  font-weight: 500;
  font-size: 25px;
}
.cartitem__removebtn {
  height: 100%;
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: lightskyblue;
  padding: 30px;
  margin-top: 50px;
}
@media screen and (min-width: 786px) {
  .footer {
    display: inline-flex;
  }
}
.footer__logo {
  background-image: url(./assets/bitsnbotslogo.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 786px) {
  .footer__logo {
    width: 30%;
  }
}
.footer__pages {
  display: block;
  font-size: 30px;
}
@media screen and (min-width: 786px) {
  .footer__pages {
    width: 30%;
    font-size: 18px;
    padding: 20px;
  }
}
.footer__contact {
  display: block;
  font-size: 25px;
}
@media screen and (min-width: 786px) {
  .footer__contact {
    width: 30%;
    font-size: 18px;
    padding: 20px;
  }
}

.logo {
  width: 30%;
  display: block;
  height: 100px;
  width: 140px;
  background-image: url(./assets/bitsnbotslogo.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo__login {
  margin: 0 auto;
}
.logo__navigation {
  height: 80px;
  width: 110px;
}
.logo__wrapper {
  padding: 10px;
  padding-left: 20px;
  width: fit-content;
  height: 100px;
}

/*# sourceMappingURL=App.css.map */
