@import "_partials/landingpage.scss";
@import "_partials/navigation.scss";
@import "_partials/store.scss";
@import "_partials/checkout.scss";
@import "_partials/footer.scss";

.logo{
    width: 30%;
    display: block;
    height: 100px;
    width: 140px;
    background-image: url(./assets/bitsnbotslogo.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__login{
        margin:0 auto;
    }
    &__navigation{
        height: 80px;
        width: 110px;
    }
    &__wrapper{
        padding: 10px;
        padding-left: 20px;
        width: fit-content;
        height: 100px;
    }
}