.checkout{
    display: block;
    @media screen and (min-width: 786px){
        display: inline-flex;
    }
    &__title{
        text-align: center;
        margin: 50px;
    }

    

    &__cart{
        width:100%;
        padding: 20px;
        @media screen and (min-width: 786px){
            width:  50%;
            
        }
    }
    &
    &__form{
        width: 100%;
        padding: 20px;
        @media screen and (min-width: 786px){
            width: 50%;
        }
    }
}
.emptyCart{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.cartitem{
    display: inline-flex;
    width: 100%;
    padding:10px;
    border-bottom: 2px solid lightgray;
    border-radius: 5px;
    
    @media screen and (min-width: 1500px){
        width: 50%;
    }
    &__image{
        height: 100%;
        margin-left: 20px;
    }
    &__title{
        text-align: center;
        width: 100%;
        padding: 5px;

        &--wraptitle{
            font-weight: 500;
            font-size: 25px;

        }
    }
    &__removebtn{
        height: 100%;
             
    }
}