.video-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    opacity:0.85;
    background: rgb(244,146,48); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(244,146,48,1) 1%, rgba(132,180,244,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(244,146,48,1) 1%,rgba(132,180,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(244,146,48,1) 1%,rgba(132,180,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49230', endColorstr='#84b4f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.form{
    z-index: 2;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: cover;


    &__logo{
        background-image: url("./assets/bitsnbots.png");
        display: block;
        width: 200px;
        height: 140px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0 auto;
        &--wrapper{
            padding-top: 30px;
        }
    }

    &__input{
        width: 50%;
        padding: 5px;
        margin: 5px;
        border: 3px solid white;
        border-radius: 4px;

        &--wrapper{
            padding-top: 50px;
        }
    }
    &__button{
        width: 40%;
        height: 50px;
        padding: 5px;
        margin: 5px;
        background-color: white;
        border: 3px solid white;
        border-radius: 4px;

        &--wrapper{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
.register{
    display: none;
}
.signIn{
    display: block;
}
.landingpage{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
.video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  .video-wrap video{
    min-height:100%;
    min-width:100%;
  }